body{
	background-color:  #e0e0eb;
}

.carousel-img{
	width: 100%;
	height: 500px;
}

.img-enter{
	width: 80%;
	height: 350px;
	margin-top: 80px;
}

.people{
	margin-top: 5px;
}
p{
	text-align: justify;
	margin: 10px;
}
main{
	margin-top: 56px;
}
h3{
	margin-top: 40px;
	margin-bottom: 25px;
}
h1{
	background-color: rgba(0,0,0,0.8);
	color: #000000;
	text-shadow: 0 0 25px #ff9900, 0 0 25px #ff9900;
	
}
.carousel-caption {
    top: 0;
    bottom: auto;
}

#seg{
	top: auto;
    bottom:0;
}
#four{
	top: auto;
    bottom: 0;
}
#ffgal{
	height:400px; 
	width:400px;
	margin: 10px;
}
.quienes{
	color: black;
}
#logoprin{
	height: 333px; 
	width: 333px;
	margin: auto;
}

.cd-5{
	width: 80%;
	height: 350px;
	margin-top: 80px;
}

#logocard{
	margin-left: 35px;
}

#descar{
	margin-top: 100px;
}